body{
    background: aliceblue;
}

.container{
position: absolute;
left: 50%;
top: 35%;
transform: translate(-50%, -50%);
border: 5px solid rgb(250, 160, 160);
padding: 10px;
}
.text{
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}

.chk{
    padding: 10px;
    cursor: pointer;
}


#pass-lenth{
   
    width: 235px;
}
#btn{
    border-radius: 22px;
    margin: 13px;
    padding: 10px;
    margin-left: 84px;
    cursor: pointer;
    
}
#btn:hover{
    background-color: rgb(250, 160, 160);
}